.start{
    margin-right:82%;
    font-size:17px;
   
    margin-top:-7%;
}
.no_1{
    margin-left:5%;
    height:5%;
    width:10%;
   
    margin-top:5%;
}

.end{
    margin-right:83%;
    font-size:17px;
   
    margin-top:190%;
   
}
.par1{
    margin-left:5%;
    margin-top:10%;
    height:5%;
    width: 20%;
}
.start2{
    margin-right:33%;
    font-size:17px;
   
    margin-top: -7%;
}
.no_2{
    margin-left:29%;
    height:5%;
    width:8%;
   
    margin-top:-17%;
}
.par2{
    margin-left:29%;
    margin-top:8%;
    height:5%;
    width: 20%;
}
.end2{
    margin-right:34%;
    font-size:17px;
   
    margin-top:-11.5%;
}

.no_3{
    margin-left:53%;
    height:5%;
    width:8%;
    margin-top:-9%;
}
.start3{
    margin-right:-15%;
    font-size:17px;
   
    margin-top: -7%;
}
.par3{
    margin-left:54%;
    margin-top:8%;
    height:5%;
    width: 20%;
}
.end3{
    margin-right:-15%;
    font-size:17px;
   
    margin-top:-11.5%;
}
.no_4{
    margin-left:80%;
    height:5%;
    width:8%;
    margin-top:-8%;
}
.start4{
    margin-left:68%;
    font-size:17px;
   
    margin-top: -7%;
}
.par4{
    margin-left:81%;
    margin-top:8%;
    height:5%;
    width: 20%;
}
.end4{
    margin-left:69%;
    font-size:17px;
   
    margin-top:-8%;
}
.faq{
    width:5%;
    margin-top:15%;
    margin-left:49%;
}
.line1{
    margin-right:62%;
    margin-top:5%;
}
.plus{
    width: 2%;
    margin-left:90%;
    margin-top:-3%;
}
/* .line_1{

} */

.que{
    margin-right:52%;
    margin-top:10%;
}

.minus{
    width: 2%;
    margin-left:90%;
    margin-top:-3%;
}
.lorem{
    margin-left:-21%;
    margin-top:10%;
}
.veniam{
    margin-left:-23%;
    margin-top:-1%;
}
.dolor{
    margin-left:-45%;
    margin-top:-1%;
}
.que_2{
    margin-right: 62%;
    margin-top:10%;
}
.plus_1{
    width: 2%;
    margin-left:92%;
    margin-top:-3.5%;
}
.sub{
    margin-left:-76%;
    color:#12406F;
    margin-top:9%;

}
.bottom{
    margin-right:55%;
    margin-top:4%;
}
   
.bottom1{
    margin-right:61%;
    margin-top:-1%;
}

.phone{
    margin-left:60%;
    width:35%;
    margin-top:-8%;
   
}
.enter{
    margin-left:5%;
    width:30%;
    margin-top:-10%;
}
/*
.sub1{
    background-color: #12406F;
    color:white;
    border-radius: white;
    border-radius: None;
    margin-left:-18%;
    margin-top:-15%;
   
 } */